#headacmabutonusinir {
	display: none;
}
.haltsecenekler {
	font-size: 13px;
}
#haltsecenekalani {
	padding-top: 9px;
}
#headernavlist {
	display: block;
}
#acmakapamaheader {
	display: none;
}
body {
	font-size: 13px;
}
#headermesajalani {
	height: auto;
	min-height: auto;
	max-height: auto;
	background-color: thistle;
}
#headerustmenusinirlamaalani {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}
#headeraltmenualani {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}
#footermenusinirlamaalani {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}
.footermenusutunalani {
	width: 25%;
	min-width: 25%;
	max-width: 25%;
}
.fotermenubaslikalani {
	font-size: 13px;
}
.fotermenuleralani {
	font-size: 13px;
}
#sonucsayfalarialani {
	padding: 5px 0;
}
#tam-sayfa-cerceve-alani {
	padding: 5px 0;
}
#tam-sayfa-cerceve-yuzdeyuzluk-alani {
	width: calc(100% - 300px);
	min-width: calc(100% - 300px);
	max-width: calc(100% - 300px);
	padding: 10px;
}
.tam-sayfa-cerceve-ici-banka-hesaplari-sinirlama-alani {
	width: calc(33.33% - 32px);
	min-width: calc(33.33% - 32px);
	max-width: calc(33.33% - 32px);
}
.tam-sayfa-cerceve-ici-banka-hesaplari-tablosu-baslik-sutunu {
	width: 50px;
	min-width: 50px;
	max-width: 50px;
	font-size: 13px;
}

#footermenuleralani {
	width: calc(100% - 300px);
	min-width: calc(100% - 300px);
	max-width: calc(100% - 300px);
}
#bayilikler-main-orta-alani {
	width: calc(100% - 300px);
	font-size: 13px;
}
